<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <%= console.log(site) %>
  <%= console.log('+~+~+~+~+~+~+~+~+~+~+~+~+~+') %>
  <%= console.log(page) %>
  <%= console.log('+~+~+~+~+~+~+~+~+~+~+~+~+~+') %>
  <%= console.log(pages) %>



  <div class="header">
    <h1><%= site.title %></h1>
  </div>

  <h2><%= page.title %></h2>

  <h1>THIS IS THE HOME TEMPLATE!</h1>

  <ul>
    <% page.media.forEach(function(media){ %>
      <li><img src="<%= media %>" /></li>
    <% }); %>
  </ul>

  <ul>
    <% pages.forEach(function(page){ %>
        <li><a href="<%= page.url %>"> <%= page.title %> </a></li>

    <% }); %>
  </ul>

  <div class="content">
    <%- body %>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
